<h1>Survey</h1>
<div class="container-fluid body">
    <div class="row">
        <div class="col-lg-5 col-md-5 col-sm-5">
            <survey survey-guid="8EB7BE12882F46B394515C4C01B2AB87"></survey>
        </div>
        <div class="col-lg-5 col-md-5 col-sm-5">
            <answer-aggregator survey-guid="8EB7BE12882F46B394515C4C01B2AB87"></answer-aggregator>
        </div>
<!--     </div>
    <div class="row">
        <div class="col-lg-5 col-md-5 col-sm-5">
            <survey survey-guid="DADA5136549C4D00AC9DD179F3D4707F"></survey>
        </div>
        <div class="col-lg-5 col-md-5 col-sm-5">
            <answer-aggregator survey-guid="DADA5136549C4D00AC9DD179F3D4707F"></answer-aggregator>
        </div>
    </div> -->
</div>
<footer class="footer">
    <button type="button"
        class="btn btn-default pull-left footerButton"
        ng-click="openDialog()"
    >
        <span class="glyphicon glyphicon-qrcode"
            title="About the 'Survey'"
        >
        </span>
    </button>
    <note-dialog class="pull-right"></note-dialog>
</footer>